#load-set {
  display: flex;
}

#load-set > label {
  margin-right: 10px;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#board {
  display: flex;
  gap: 5%;
}

#supply-non-kingdom {
  display: flex;
  gap: 5px;
  width: 15%;
}

#victory {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#treasure {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#main-board {
  display: flex;
  flex-direction: column;
  width: 75%;
}

#p1 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#p1-deck {
  width: 10%;
}

#p1-discard {
  width: 10%;
}

#p1-play-area {
  width: 40%;
}

#p1-hand {
  display: flex;
  width: 40%;
  gap: 2px;
}

#p2 {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

#p2-deck {
  width: 10%;
}

#p2-discard {
  width: 10%;
}

#p2-play-area {
  width: 40%;
}

#p2-hand {
  display: flex;
  width: 40%;
  gap: 2px;
}

#p2-turn {
  display: flex;
  justify-content: right;
  gap: 10px;
}

#supply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  align-self: center;
  gap: 5px;
}

#supply > div {
  display: flex;
  gap: 5px;
}
