#load-set {
  display: flex;
}

#load-set > label {
  margin-right: 10px;
}

img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

#board {
  display: flex;
  gap: 5px;
}

#supply-non-kingdom {
  display: flex;
  gap: 5px;
  width: 25%;
}

#victory {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#treasure {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}

#supply {
  display: flex;
  flex-direction: column;
  width: 75%;
  gap: 5px;
}

#supply > div {
  display: flex;
  gap: 5px;
}
